#formsContainer{background:#fbfbfc;}
.pasoContainer{width:50%;margin:50px auto 0 auto;text-align:center;}
.pasoContainer p{margin:0;padding:0 0 15px 0;color:#000;}
.pasoContainer p b{color:#2361f0;}
/*  PROGRESS BAR    */
.meter { 	height: 20px;position: relative;background: #555;-moz-border-radius: 25px;-webkit-border-radius: 25px;border-radius: 25px;-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);}
.meter > span {display: block;height: 100%;border-top-right-radius: 8px;border-bottom-right-radius: 8px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;
background-color: rgb(35, 97, 240);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(35, 97, 240)), color-stop(1, rgb(38, 99, 240)));
-webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
-moz-box-shadow:  inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
box-shadow:  inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);position: relative;overflow: hidden;}
.meter > span:after, .animate > span > span {content: "";position: absolute;top: 0; left: 0; bottom: 0; right: 0;z-index: 1;
background-image:-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent),color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)),color-stop(.75, transparent), to(transparent));
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,  transparent 75%,  transparent);
-webkit-background-size: 50px 50px;-moz-background-size: 50px 50px;
-webkit-animation: move 2s linear infinite;border-top-right-radius: 8px;border-bottom-right-radius: 8px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;overflow: hidden;}
.animate > span:after {display: none;}
@-webkit-keyframes move {
    0% {background-position: 0 0;}
    100% {background-position: 50px 50px;}
}

/*  TABS LOGIN / REGISTER    */
.tabs{display: grid;grid-template-columns: 1fr 1fr;justify-content: center;align-items: center;grid-gap: 10px;margin:10px 10px 0 10px;}
.tabs label{color:#545454;}
.radio-tabs{margin:0 auto;width:50%;text-align:center;padding:70px 0;}
.radio-tabs input[name='houses-state']{display: none;}
.radio-tabs .tab {display: inline-block;padding: 15px 40px;cursor: pointer;background-color: #ededed;border-bottom: .3em solid #fbfbfc;}
.radio-tabs #starks:checked ~ .tabs #starks-tab,.radio-tabs #lannisters:checked ~ .tabs #lannisters-tab {font-weight:800;font-style:italic;background-color: #fff;border-bottom: .3em solid #fff;cursor: default;color:#000;}
.radio-tabs .tab:hover {background-color: #fff;}
@media all and (max-width : 570px) {.radio-tabs .tab {padding:10px 20px;font-size:14px;}}
@media all and (max-width : 440px) {.radio-tabs .tab {padding:10px;font-size:10px;}}
.radio-tabs .panels {background-color: #fff;padding: 1em 20px;}
.panels ul{margin:0;padding:0;}
.radio-tabs .panel {display: none;}
#starks:checked ~ .panels #starks-panel,
#lannisters:checked ~ .panels #lannisters-panel {display: block;}

.registerContainer{overflow: hidden;}
.facebookRegisterContainer{margin:0 auto;text-align: center;width:100%;}
.facebookRegisterContainer a{background: #44619c;border-radius: 5px;border:0;outline: none;width: 100%;color:#fff;padding:10px 0px;display:block;text-decoration: none;}
.facebookRegisterContainer hr{width:80%;border-top:1px solid #cccccc;margin:20px auto;}
.facebookRegisterContainer img{max-width: 240px;width:100%;}
.registerContainer input[type="text"],.registerContainer input[type="number"],.registerContainer input[type="password"],.registerContainer input[type="email"]{transition:all 300ms ease-in;width:calc(100% - 10px);margin:10px 0; outline:0;border:0;border-bottom:1px solid #a9bdcc;border-radius:0;padding:5px 0 5px 10px;}
.registerContainer input[type="text"]:focus,.registerContainer input[type="number"]:focus,.registerContainer input[type="password"]:focus,.registerContainer input[type="email"]:focus{box-shadow:1px 1px 1px rgba(0,0,255,0.5);}
.registerContainer input[type=number]::-webkit-outer-spin-button,
.registerContainer input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.registerContainer input[type=number] {-moz-appearance:textfield;}
.registerContainer input.error{box-shadow: 1px 1px 1px rgba(255,0,0,0.5);}
.registerContainer select.error{border:1px solid rgb(250, 49, 81,0.5)}
.emailRegister{margin:0;}
::-webkit-input-placeholder { color: #54b0ac;font-style:italic;}
::-moz-placeholder {color: #54b0ac;font-style:italic;}
:-ms-input-placeholder {  color: #54b0ac;font-style:italic;}
:-moz-placeholder { color: #54b0ac;font-style:italic;}
.little{padding:5px 0 10px 0;margin:0;font-size:10px;color:#a9bdcc;}
.selectBirthdayContainer{display: grid;grid-template-columns: 1fr 2fr 1fr;grid-gap:15px;}
.selectdivdate{position:relative;display:inline-block;border:1px solid #d2dae6;}
.selectdivdate:after {content: ' ';right: 4px;top: 10px; width:13px;height: 11px; background: url(../img/selectArrow.svg) right center no-repeat;position: absolute;pointer-events: none;}
select::-ms-expand {display: none;}
.selectdivdate select {-webkit-appearance: none; -moz-appearance: none;appearance: none;outline:none;width:100%;border:none;display: inline-block;height: 30px;  color:#54b0ac;  padding: 2px 0 0 5px;float: right;font-size: 14px;line-height: 1.75;background-color: transparent;background-image: none;-ms-word-break: normal;word-break: normal;}
@media only screen and (max-width: 550px) {.selectBirthdayContainer{grid-template-columns:1fr;}}
.selectdivsex{position:relative;display:block;border:1px solid #d2dae6;    overflow: hidden;}
.selectdivsex:after {content: ' ';right: 4px;top: 10px; width:13px;height: 11px; background: url(../img/selectArrow.svg) right center no-repeat;position: absolute;pointer-events: none;}
select::-ms-expand {display: none;}
.selectdivsex select {-webkit-appearance: none; -moz-appearance: none;appearance: none;outline:none;width:100%;border:none;display: block;height: 30px;  color:#54b0ac;  padding: 2px 0 0 5px;float: right;font-size: 14px;line-height: 1.75;background-color: transparent;background-image: none;-ms-word-break: normal;word-break: normal;}

#checkboxNewsletter{display: grid;grid-template-columns: 34px auto;grid-gap:5px;max-width: 360px;margin: 0 auto;align-items: center;justify-content: center;}
input[type=checkbox] {display:none;}
input[type=checkbox] + label{border:1px solid #aabecc;position:relative;border-radius:34px;height: 34px;width: 34px;cursor: pointer;}
input[type=checkbox] + label i{position:absolute;top: 8px;left: 8px;color: #aabecc;color: transparent;font-size: 18px;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #aabecc;transition: all 300ms ease-in;}
input[type=checkbox]:checked + label{border:1px solid #1ccfc8;background-color:#1ccfc8;}
input[type=checkbox]:checked + label i{color: #fff;-webkit-text-stroke-color: transparent;}
.terminos{margin:50px 0 0 0;}
.terminos a,.forgot a{color:#000;}
@media all and (max-width : 410px) {.registerContainer select{width:100%;}}

.submitLogin{ background: #2361f0;outline: none;border: 0;color: #fff;padding: 15px 50px;margin: 15px 0 0 0;border-radius: 50px;-webkit-box-shadow: 0px 2px 2px 0px #616060;-moz-box-shadow: 0px 2px 2px 0px #616060;box-shadow: 0px 2px 2px 0px #616060;transition: all 300ms linear;}
.submitLogin:hover{cursor:pointer;background: #fff;color: #2361f0;}
.submitRegister{ background: #2361f0;outline: none;border: 0;color: #fff;padding: 15px 50px;margin: 15px 0 0 0;border-radius: 50px;-webkit-box-shadow: 0px 2px 2px 0px #616060;-moz-box-shadow: 0px 2px 2px 0px #616060;box-shadow: 0px 2px 2px 0px #616060;transition: all 300ms linear;}
.submitRegister:hover{cursor:pointer;background: #fff;color: #2361f0;}
@media all and (max-width : 1075px) {.radio-tabs,.pasoContainer{width:80%;}}
@media all and (max-width : 815px) {
    .loginFacebook img{width:100%;}
    .registerContainer input{width:100%;}
    input[type=checkbox] + label{float:none;}
}