.productContainer{padding:50px 0;background: #f7f7f7;}
.productContainer #productContainer{grid-template-columns: 1fr;grid-gap: 20px;}

/*  BREAD */
ul.breadcrumb {  padding: 10px 16px;  list-style: none;  background-color: #eee;}
ul.breadcrumb li {display: inline;font-size: 18px;}
ul.breadcrumb li:before {padding: 8px;  color: black;  content: "/\00a0";}
ul.breadcrumb li:first-child:before {  content: "";}
ul.breadcrumb li a {  color: #0275d8;text-decoration: none;}
ul.breadcrumb li a:hover { color: #01447e;text-decoration: underline;}


.productRow{display: grid;grid-template-columns: 1fr 1fr;grid-gap:50px;background: #fff;padding:20px 30px;}
/*  PRODUCTO FOTOS  */
.thumbContainer{width:100%;padding:20px 0;text-align:center;border-top:1px solid #12f9e7;overflow: hidden;height:350px;display: grid;align-items: center;}
#thumbSelected{display: block;margin: 0 auto;}
.mosaico{width:100%;}
.mosaico ul{list-style:none;padding:0;margin:0;}
.mosaico ul li{width:25%;margin: 0 auto;float:left;margin:0 auto;}
.mosaico ul li img.selected{border:2px solid #12f9e7;}
.thumb{width:56%;}
.thumb:hover{cursor:pointer;}
.little{padding:5px 0 10px 0;margin:0;font-size:10px;color:#a9bdcc;}

@media only screen and (max-width: 690px) { 
.productRow{grid-template-columns: 1fr;}
}

/*detaller*/
.infoContainer{display: grid;align-items: center;border-right: 1px solid #12f9e7;}
.infoContainer .typeContainer{text-align: right;}
.infoContainer .typeContainer p{background:#2361f0;padding:0 10px;color:#fff;display: inline-block;margin:0;}
.infoContainer .detailsContainer{padding:0 0 10px 0;}
.infoContainer .detailsContainer p{color:#545454;font-size: 12px;margin: 0;}
.infoContainer .detailsContainer .name{color:#2361f0;font-weight: 700;font-size: 16px;}

.infoContainer .numbersContainer{display: grid;grid-template-columns: 1fr 1fr;padding:10px 0;}
.infoContainer .numbersContainer .price{color:#12f9e7;font-weight: 700;font-size: 20px;text-align: left;margin:0;}
.infoContainer .numbersContainer .price sup{font-size: 12px;}
.qtyBox button{    background: #fff;border:0;border-bottom: 1px solid #12f9e7;border-right: 1px solid #12f9e7;border-radius:0;color:#12f9e7;height: 25px;width: 25px;font-size: 10px;    display: inline-block; vertical-align: middle; outline:none;}
.qtyBox .quantity{width:25px;height:25px;text-align:center; outline: none;   display: inline-block;vertical-align: middle;border:none;background:#12f9e7;color: #2361f0;-moz-appearance:textfield; }
.qtyText{display:inline-block;width:100px;}
.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0; }
@media only screen and (max-width: 690px) { 
    .qtyBox{margin:0px auto;width:200px;}
    .qtyBox button{ width:50px;height:50px;}
    .qtyBox .quantity{width:50px;height:50px;}
}

.tabs{display: grid;grid-template-columns: 1fr 1fr;justify-content: center;align-items: center;grid-gap: 10px;margin:10px 10px 0 10px;}
.tabs label{color:#545454;}
.radio-tabs{margin:0 auto;text-align:center;}
.radio-tabs input[name='houses-state']{display: none;}
/*.radio-tabs .tab {display: inline-block;padding: 15px 40px;cursor: pointer;background-color: #ededed;border-bottom: .3em solid #fbfbfc;}*/
/*.radio-tabs #starks:checked ~ .tabs #starks-tab,.radio-tabs #lannisters:checked ~ .tabs #lannisters-tab {font-weight:800;font-style:italic;background-color: #fff;border-bottom: .3em solid #fff;cursor: default;color:#000;}*/
.radio-tabs .tab {display: inline-block;padding: 15px 40px;cursor: pointer;background-color: #fff;color:#000;}
.radio-tabs #starks:checked ~ .tabs #starks-tab,.radio-tabs #lannisters:checked ~ .tabs #lannisters-tab {font-weight:800;font-style:italic;cursor: default;background-color: #ededed;border-bottom: .3em solid #fbfbfc;}
.radio-tabs .tab:hover {background-color: #fff;}
@media all and (max-width : 570px) {.radio-tabs .tab {padding:10px 20px;font-size:14px;}}
@media all and (max-width : 440px) {.radio-tabs .tab {padding:10px;font-size:10px;}}
.radio-tabs .panels {background-color: #fff;padding: 1em 20px;margin: 0px 10px;border-right: 1px solid #ccc;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.panels ul{margin:0;padding:0;}
.radio-tabs .panel {display: none;}
#starks:checked ~ .panels #starks-panel,
#lannisters:checked ~ .panels #lannisters-panel {display: block;}



.receta{padding:10px;border-radius: 5px;}
.receta table{width:360px;text-align: center;margin:0 auto;}
.receta table tr{margin:5px 0;}
.receta table th{font-size: 14px;}
.receta table th p{position: relative;padding: 0 5px 0 0;}
.receta table th p span{position: absolute;border:1px solid #000;background:#fff;padding:10px;top:0px;left:-70px;opacity: 0;z-index: -1;transition: all 300ms ease-in;}
.receta table th p:hover span{opacity: 1;z-index: 1;}
.receta table th i{color:#2361f0;}

.receta table th.od i:nth-child(1){color:#eee;}
.receta table th.id i:nth-child(2){color:#eee;}
.receta table td{border:1px solid #ccc;}
.receta table td:nth-child(even){background: #eff4ff;}
.receta table td:nth-child(odd){background: #f7f7f7;}
.receta table input[type="text"]{width:50px;border:0;padding:10px;background: transparent;outline: none;} 
.receta table textarea{width:100%;resize:none;height:50px;background: transparent;outline: none;border:0;} 

.buttonContainer{margin:20px 0;text-align: left;}
.buttonContainer #addToCart{background:transparent;border:0;outline:0;text-decoration: none;color:#2361f0;font-size: 20px;}
.buttonContainer #addToCart i{transition: all 300ms ease-in;}
.buttonContainer #addToCart:hover i{transform:rotate(90deg);}

.informationContainer{border-top:1px solid #12f9e7;padding:0 10px 0 0;}
.informationContainer p{color:#545454;}
.informationContainer .description_short{font-style: italic;}

.modal-content{width: 300px !important;}
.modal-body{padding: 20px !important;}
.modal-body a{border:0;background: #2361f0;height:50px;color:#fff;max-width: 250px;display: block;line-height: 50px;text-decoration: none;margin: 20px auto 0 auto;}