.return{text-decoration: none;color:#ccc;}
#facturaContainerBox{background:#fff;padding: 1em 10px;display: grid;grid-template-columns: 1fr;grid-gap:10px;}


#facturaContainerBox input[type="text"],#facturaContainerBox input[type="email"]{transition:all 300ms ease-in;width:calc(100% - 10px); outline:0;border:0;border-bottom:1px solid #a9bdcc;border-radius:0;padding:5px 0 5px 5px;}
#facturaContainerBox input[type="text"]:focus,#facturaContainerBox input[type="email"]:focus{box-shadow:1px 1px 1px rgba(0,0,255,0.5);}
select::-ms-expand {display: none;}
.selectCDFI{position:relative;display:block;border:1px solid #d2dae6;    overflow: hidden;}
.selectCDFI:after {content: ' ';right: 4px;top: 10px; width:13px;height: 11px; background: url(../../img/selectArrow.svg) right center no-repeat;position: absolute;pointer-events: none;}
.selectCDFI select {-webkit-appearance: none; -moz-appearance: none;appearance: none;outline:none;width:100%;border:none;display: block;height: 30px;  color:#54b0ac;  padding: 2px 0 0 5px;float: right;font-size: 14px;line-height: 1.75;background-color: transparent;background-image: none;-ms-word-break: normal;word-break: normal;}


.selectState{position:relative;display:block;border:1px solid #d2dae6;    overflow: hidden;}
.selectState:after {content: ' ';right: 4px;top: 10px; width:13px;height: 11px; background: url(../../img/selectArrow.svg) right center no-repeat;position: absolute;pointer-events: none;}
.selectState select {-webkit-appearance: none; -moz-appearance: none;appearance: none;outline:none;width:100%;border:none;display: block;height: 30px;  color:#54b0ac;  padding: 2px 0 0 5px;float: right;font-size: 14px;line-height: 1.75;background-color: transparent;background-image: none;-ms-word-break: normal;word-break: normal;}


.submitBilling{ background: #2361f0;outline: none;border: 0;color: #fff;padding: 15px 50px;margin: 15px 0 0 0;border-radius: 50px;-webkit-box-shadow: 0px 2px 2px 0px #616060;-moz-box-shadow: 0px 2px 2px 0px #616060;box-shadow: 0px 2px 2px 0px #616060;transition: all 300ms linear;}
.submitBilling:hover{cursor:pointer;background: #fff;color: #2361f0;}
