.facturacionContainer{padding:50px 0;background:#fbfbfc;}
.facturacionContainer #box{grid-template-columns: 1fr; grid-gap:25px;}
.facturacionContainer #box h1{margin:0;}

::-webkit-input-placeholder { color: #54b0ac;font-style:italic;}
::-moz-placeholder {color: #54b0ac;font-style:italic;}
:-ms-input-placeholder {  color: #54b0ac;font-style:italic;}
:-moz-placeholder { color: #54b0ac;font-style:italic;}

/*  left */
.facturaSavedContainer{display: grid;grid-template-columns: 1fr;grid-gap:5px;}
#facturaContainer{transition:all 500ms ease-in;background-color: #fff;border-radius: 4px;box-shadow: 0 1px 2px 0 rgba(0,0,0,.03);border: solid 1px #dee5ec;overflow: hidden;margin:0;padding:20px;}
#explicacion{background-color: #fff;border-radius: 4px;box-shadow: 0 1px 2px 0 rgba(0,0,0,.03);border: solid 1px #dee5ec;overflow: hidden;margin:0;padding:20px;}

.billingsSavedContainer{grid-column-start: 1;grid-column-end: 3;}
#facturaCheckContainer{display: grid;grid-template-columns: 34px auto;grid-gap:10px;align-items: center;}
#facturaCheckContainer input[type=checkbox] {display:none;}
#facturaCheckContainer input[type=checkbox] + label{border:1px solid #aabecc;position:relative;border-radius:34px;height: 34px;width: 34px;cursor: pointer;}
#facturaCheckContainer input[type=checkbox] + label i{position:absolute;top: 8px;left: 8px;color: #aabecc;color: transparent;font-size: 18px;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #aabecc;transition: all 300ms ease-in;}
#facturaCheckContainer input[type=checkbox]:checked + label{border:1px solid #1ccfc8;background-color:#1ccfc8;}
#facturaCheckContainer input[type=checkbox]:checked + label i{color: #fff;-webkit-text-stroke-color: transparent;}

#facturaContainerBox{display: grid;grid-gap:10px;}
select::-ms-expand {display: none;}
.billingsSaved{position:relative;display:block;border:1px solid #d2dae6;    overflow: hidden;margin:0 0 15px 0;}
.billingsSaved:after{content: ' ';right: 4px;top: 10px; width:13px;height: 11px; background: url(../../img/selectArrow.svg) right center no-repeat;position: absolute;pointer-events: none;}
.billingsSaved select {-webkit-appearance: none; -moz-appearance: none;appearance: none;outline:none;width:100%;border:none;display: block;height: 30px;  color:#54b0ac;  padding: 2px 0 0 5px;float: right;font-size: 14px;line-height: 1.75;background-color: transparent;background-image: none;-ms-word-break: normal;word-break: normal;}


#facturaContainerBox input[type="text"],#facturaContainerBox input[type="email"]{transition:all 300ms ease-in;width:calc(100% - 10px); outline:0;border:0;border-bottom:1px solid #a9bdcc;border-radius:0;padding:5px 0 5px 10px;}
#facturaContainerBox input[type="text"]:focus,#facturaContainerBox input[type="email"]:focus{box-shadow:1px 1px 1px rgba(0,0,255,0.5);}
select::-ms-expand {display: none;}
.selectCDFI{position:relative;display:block;border:1px solid #d2dae6;    overflow: hidden;}
.selectCDFI:after {content: ' ';right: 4px;top: 10px; width:13px;height: 11px; background: url(../../img/selectArrow.svg) right center no-repeat;position: absolute;pointer-events: none;}
.selectCDFI select {-webkit-appearance: none; -moz-appearance: none;appearance: none;outline:none;width:100%;border:none;display: block;height: 30px;  color:#54b0ac;  padding: 2px 0 0 5px;float: right;font-size: 14px;line-height: 1.75;background-color: transparent;background-image: none;-ms-word-break: normal;word-break: normal;}




.selectState{position:relative;display:block;border:1px solid #d2dae6;    overflow: hidden;}
.selectState:after {content: ' ';right: 4px;top: 10px; width:13px;height: 11px; background: url(../../img/selectArrow.svg) right center no-repeat;position: absolute;pointer-events: none;}
.selectState select {-webkit-appearance: none; -moz-appearance: none;appearance: none;outline:none;width:100%;border:none;display: block;height: 30px;  color:#54b0ac;  padding: 2px 0 0 5px;float: right;font-size: 14px;line-height: 1.75;background-color: transparent;background-image: none;-ms-word-break: normal;word-break: normal;}



.nextContainer {text-align: center;margin:20px 0 0 0;}
.nextContainer button{ background: #2361f0;outline: none;border: 0;color: #fff;padding: 15px 50px;border-radius: 50px;-webkit-box-shadow: 0px 2px 2px 0px #616060;-moz-box-shadow: 0px 2px 2px 0px #616060;box-shadow: 0px 2px 2px 0px #616060;transition: all 300ms linear;}
.nextContainer button:hover{cursor:pointer;background: #fff;color: #2361f0;}
.nextContainer button:disabled{background: #ccc;color:#000;}
.nextContainer button:disabled:hover{cursor: default;background: #ccc;color:#000;}



/*  right */
.rightContainer .editContainer{text-align: center;padding:0 0 20px 0;}
.rightContainer .edit{color:#2361f0;position:relative;text-decoration:none;font-size: 12px;font-style: italic;}
.rightContainer .edit:after{content:'';position:absolute;bottom:-5px;left:0;width:0;height:2px;background-color:#2361f0;transition: all 300ms ease-in;}
.rightContainer .edit:hover:after{width:100%;}
.rightContainer hr{background: #ccc;    border: 0;height: 1px;border-radius: 10px;}
#cartItemsContainer .item{display: grid;grid-template-columns:100px 1fr 1fr;grid-gap:10px;align-items: start;text-align: right;}
#cartItemsContainer .item img{width: 100%;}
#cartItemsContainer .item p{margin: 0;}
#cartItemsContainer .item .itemDetails p{font-size: 12px;margin: 0;}
#cartItemsContainer .item .itemDetails p sup{font-size: 8px;}
#cartItemsContainer .item .itemDetails p.name{font-weight: 800;}
/*#cartItemsContainer .item p.totalRow{color: #12f9e7;font-size: 20px;}*/
/*#cartItemsContainer .item p.totalRow sup{font-size: 12px;}*/
#cartItemsContainer .item [id^=id_row_] p{color: #12f9e7;font-size: 20px;}
#cartItemsContainer .item [id^=id_row_] p sup{font-size: 12px;}

@media all and (max-width : 1000px) {
	#cartItemsContainer .item{grid-template-columns:50px 1fr 1fr;}
	#cartItemsContainer .item [id^=id_row_] p{font-size: 14px;}
	#cartItemsContainer .item [id^=id_row_] p sup{font-size: 8px;}
}
@media all and (max-width : 765px) {
	#cartItemsContainer .item{grid-template-columns:100px 1fr 1fr;}
}
#detailsContainer{overflow: hidden;margin: 20px 0 0 0;}
#detailsContainer div{display:grid;grid-template-columns:1fr 1fr;grid-gap: 20px;margin: 20px 0;}
#detailsContainer div p{text-align: right;font-size: 14px;margin: 0;}
#detailsContainer div p sup{font-size: 8px;}
#detailsContainer div > div{grid-template-columns: 1fr;grid-gap: 0;margin: 0;}
#detailsContainer div#totalContainer p{font-size: 20px;color:#2361f0;font-weight: 800;}
#detailsContainer div#totalContainer p sup{font-size: 12px;}


.enableBilling{    width: 160px;    margin: 20px auto 0 auto;}

