.pasoContainer{width:90%;padding:25px 0 0 0;max-width:360px;margin: 0 auto;text-align:center;background:#fbfbfc;}
.pasoContainer p{margin:0;padding:0 0 15px 0;color:#000;}
.pasoContainer p b{color:#2361f0;}


#termsContainer{display: grid;grid-template-columns: 34px auto;grid-gap:5px;justify-content: center;align-items: center;}
#termsContainer input[type=checkbox] {display:none;}
#termsContainer input[type=checkbox] + label{border:1px solid #aabecc;position:relative;border-radius:34px;height: 34px;width: 34px;cursor: pointer;}
#termsContainer input[type=checkbox] + label i{position:absolute;top: 8px;left: 8px;color: #aabecc;color: transparent;font-size: 18px;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #aabecc;transition: all 300ms ease-in;}
#termsContainer input[type=checkbox]:checked + label{border:1px solid #1ccfc8;background-color:#1ccfc8;}
#termsContainer input[type=checkbox]:checked + label i{color: #fff;-webkit-text-stroke-color: transparent;}
#termsContainer a{color:#aaa;text-decoration: none;}


/*  PROGRESS BAR    */
.meter { 	height: 20px;position: relative;background: #555;-moz-border-radius: 25px;-webkit-border-radius: 25px;border-radius: 25px;-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);}
.meter > span {display: block;height: 100%;border-top-right-radius: 8px;border-bottom-right-radius: 8px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;
background-color: rgb(35, 97, 240);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(35, 97, 240)), color-stop(1, rgb(38, 99, 240)));
-webkit-box-shadow: inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
-moz-box-shadow:  inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);
box-shadow:  inset 0 2px 9px  rgba(255,255,255,0.3), inset 0 -2px 6px rgba(0,0,0,0.4);position: relative;overflow: hidden;}
.meter > span:after, .animate > span > span {content: "";position: absolute;top: 0; left: 0; bottom: 0; right: 0;z-index: 1;
background-image:-webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent),color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)),color-stop(.75, transparent), to(transparent));
background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,  transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,  transparent 75%,  transparent);
-webkit-background-size: 50px 50px;-moz-background-size: 50px 50px;
-webkit-animation: move 2s linear infinite;border-top-right-radius: 8px;border-bottom-right-radius: 8px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;overflow: hidden;}
.animate > span:after {display: none;}
@-webkit-keyframes move {
    0% {background-position: 0 0;}
    100% {background-position: 50px 50px;}
}

details{}
summary{outline: none;background-image:url('../../img/close.png');background-repeat: no-repeat; background-position: 98% 50%;}
summary span{font-size: 12px;}
summary span i{color:#d0d0d0;}
details[open] summary{background-image:url('../../img/open.png');}
details > summary::-webkit-details-marker { display: none;}

#paymentContainer{background:#fbfbfc;padding:0 0 50px 0;}
#paymentContainer .container{display: grid;grid-template-columns: 1fr;grid-gap:20px;align-items: start;}
#paymentContainer .container .rightContainer{background-color: #fff;border-radius: 4px;box-shadow: 0 1px 2px 0 rgba(0,0,0,.03);border: solid 1px #dee5ec;overflow: hidden;margin:0;padding:20px;}

::-webkit-input-placeholder { color: #54b0ac;font-style:italic;}
::-moz-placeholder {color: #54b0ac;font-style:italic;}
:-ms-input-placeholder {  color: #54b0ac;font-style:italic;}
:-moz-placeholder { color: #54b0ac;font-style:italic;}

/*  left */
#typePaymentContainer{width:100%;height:50px;display: grid;grid-template-columns: repeat(3,1fr);align-items: center;justify-content: center;border-top-right-radius: 4px;border-top-left-radius: 4px;}
#typePaymentContainer input[type="radio"]{display: none;}
#typePaymentContainer input[type="radio"] + label{display:grid;grid-template-columns:30px auto;height:50px;border:1px solid #dee5ec;align-items:center;justify-content: space-evenly;background: #fbfbfc;color:#000;text-align:center;font-size: 20px;transition: all 300ms ease-in }
#typePaymentContainer input[type="radio"] + label:hover{cursor: pointer;}
#typePaymentContainer input[type="radio"] + label p{margin: 0;font-size:12px; }
#typePaymentContainer input[type="radio"]:checked + label{background: #2361f0;color:#fff;border-right: 1px solid #fff;border-left: 1px solid #fff;}
#typePaymentContainer input[type="radio"]:checked + label:hover{background: #2361f0;color:#fff;border-right: 1px solid #fff;border-left: 1px solid #fff;}
#typePaymentBoxesContainer{background-color: #fff;box-shadow: 0 1px 2px 0 rgba(0,0,0,.03);border: solid 1px #dee5ec;border-top:0;overflow: hidden;padding:20px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
.typePaymentBox.active{display: block;opacity: 1;}
.typePaymentBox{display: none;opacity: 0;}
.little{padding:0 0 10px 0;margin:0;font-size:10px;color:#a9bdcc;}


.cardBox{display: grid;grid-template-columns: 34px auto;grid-gap:5px;align-items: center;margin:20px 0;}
.cardBox input[type=radio]{display:none;}
.cardBox input[type=radio] + label{border:1px solid #aabecc;position:relative;border-radius:34px;height: 34px;width: 34px;cursor: pointer;}
.cardBox input[type=radio] + label i{position:absolute;top: 8px;left: 6px;color: #aabecc;color: transparent;font-size: 18px;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #aabecc;transition: all 300ms ease-in;}
.cardBox input[type=radio]:checked + label{border:1px solid #1ccfc8;background-color:#1ccfc8;}
.cardBox input[type=radio]:checked + label i{color: #fff;-webkit-text-stroke-color: transparent;}
.cardBox p{margin: 0;}


#cardDetailsContainer{display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;}
#cardDetailsContainer #expiresContainer{display: grid;grid-template-columns: 1fr 1fr;grid-gap:5px;}
#cardDetailsContainer #cvcContainer{display: grid;grid-template-columns: auto 50px;grid-gap:5px;align-items:center;}
#cardDetailsContainer #cvcContainer label{border: 1px solid #2361f0;border-radius: 30px;    margin: 0 auto;height: 25px;width: 25px;color: #2361f0;font-size: 12px;text-align: center;line-height: 25px;}

#cardForm .row{padding:10px 0;}
#cardForm input[name="card"]{display: none;}
#cardForm input[type="text"],#cardForm input[type="number"],#cardForm input[type="password"]{transition:all 300ms ease-in;width:calc(100% - 10px); outline:0;border:0;border-bottom:1px solid #a9bdcc;border-radius:0;padding:5px 0 5px 10px;}
#cardForm input[type="text"]:focus,#cardForm input[type="number"]:focus,#cardForm input[type="password"]:focus{box-shadow:1px 1px 1px rgba(0,0,255,0.5);}
#cardForm input[type=number]::-webkit-outer-spin-button,
#cardForm input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
#cardForm input[type=number] {-moz-appearance:textfield;}
#cardForm input.error{box-shadow: 1px 1px 1px rgba(255,0,0,0.5);}
select::-ms-expand {display: none;}
#question{position: relative;}
#question:after{position:absolute;content:'Los digitos que estan en la parte de atras de tu tarjeta';transition:all 300ms ease-in;bottom:30px;z-index:-1;right: 10px;width: 150px;font-size: 12px;opacity: 0;background: #fff;border: 1px solid;padding: 5px;}
#question.show:after{opacity: 1;z-index: 1;}

#saveCardContainer{display: grid;grid-template-columns: 34px auto;grid-gap:10px;align-items: center;}
#saveCardContainer input[type=checkbox] {display:none;}
#saveCardContainer input[type=checkbox] + label{border:1px solid #aabecc;position:relative;border-radius:34px;height: 34px;width: 34px;cursor: pointer;}
#saveCardContainer input[type=checkbox] + label i{position:absolute;top: 8px;left: 8px;color: #aabecc;color: transparent;font-size: 18px;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #aabecc;transition: all 300ms ease-in;}
#saveCardContainer input[type=checkbox]:checked + label{border:1px solid #1ccfc8;background-color:#1ccfc8;}
#saveCardContainer input[type=checkbox]:checked + label i{color: #fff;-webkit-text-stroke-color: transparent;}
#saveCardContainer p{margin: 0;}


/*  right */
.rightContainer .editContainer{text-align: center;}
.rightContainer .edit{color:#2361f0;position:relative;text-decoration:none;font-size: 12px;font-style: italic;}
.rightContainer .edit:after{content:'';position:absolute;bottom:-5px;left:0;width:0;height:2px;background-color:#2361f0;transition: all 300ms ease-in;}
.rightContainer .edit:hover:after{width:100%;}
.rightContainer hr{background: #ccc;    border: 0;height: 1px;border-radius: 10px;}
#cartItemsContainer .item{display: grid;grid-template-columns:50px 1fr 1fr;grid-gap:10px;align-items: start;text-align: right;}
#cartItemsContainer .item img{width: 100%;}
#cartItemsContainer .item p{margin: 0;}
#cartItemsContainer .item .itemDetails p{font-size: 12px;margin: 0;}
#cartItemsContainer .item .itemDetails p sup{font-size: 8px;}
#cartItemsContainer .item .itemDetails p.name{font-weight: 800;}
#cartItemsContainer .item [id^=id_row_] p{color: #12f9e7;font-size: 20px;}
#cartItemsContainer .item [id^=id_row_] p sup{font-size: 12px;}

#detailsContainer{overflow: hidden;}
#detailsContainer div{display:grid;grid-template-columns:1fr 1fr;grid-gap: 20px;margin: 10px 0;}
#detailsContainer div p{text-align: right;font-size: 14px;margin: 0;}
#detailsContainer div p sup{font-size: 8px;}
#detailsContainer div > div{grid-template-columns: 1fr;grid-gap: 0;margin: 0;}
#detailsContainer div#totalContainer p{font-size: 20px;color:#2361f0;font-weight: 800;}
#detailsContainer div#totalContainer p sup{font-size: 12px;}

#couponContainer{display: grid;grid-template-columns: 2fr 1fr;border:1px solid #fff;}
#couponContainer input[type='text']{width:calc(100% - 10px); outline:0;border:0;border-bottom:1px solid #a9bdcc;border-radius:0;padding:5px 0 5px 10px;}
#couponContainer input[type='text']:focus{box-shadow:1px 1px 1px rgba(0,0,255,0.5);}
#couponContainer #checkCoupon{background: #2361f0;outline: none;border: 0;color: #fff;padding: 5px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;-webkit-box-shadow: 1px 0.01px 1px 0px #616060;-moz-box-shadow: 1px 0.01px 1px 0px #616060;box-shadow: 1px 0.01px 1px 0px #616060;transition: all 300ms linear;}
#couponContainer #checkCoupon:hover{cursor:pointer;background: #fff;color: #2361f0;}
#couponContainer #checkCoupon:disabled{background: #ccc;color:#000;}
#couponContainer #checkCoupon:disabled:hover{cursor: default;background: #ccc;color:#000;}

.nextContainer{position: fixed;bottom: 0;left:0;width:calc(100% - 20px);    border-top: 1px solid #2361f0;background: #fff;padding:10px;align-items: center;}
.nextContainer button{width:100%;background: #2361f0;text-decoration:none;outline: none;border: 0;padding:10px 0;border-radius:5px;color: #fff;transition: all 300ms linear;}


footer{padding: 25px 0 120px 0 !important;}