$colorRed: #b7002a; 
$colorWhite: #ffffff;
$sizeTablet: 740px;
$sizeMobile: 460px;

header{	display: grid;grid-template-columns: 150px auto 120px;grid-gap: 10px;padding:10px 20px;border-bottom: 1px solid $colorRed;align-items: center;box-shadow: 0px 2px 20px rgba(33, 33, 33, 0.4);	}
header{
	.logoContainer img{width:30px;}

}
@media only screen and (max-width:$sizeMobile) {
	.logoContainer span{display:none;}
}

.mainContainer{display: grid;grid-template-columns: 150px auto;}
.mainContainer{
	#sidebar{height:85vh;padding:10px 0 10px 10px;background:$colorRed;display: grid;grid-template-rows: 80% 50px;}
	#sidebar ul{margin: 0;padding:0;list-style: none;}
	#sidebar ul{
			li{padding:10px 0 10px 10px;}
			li a{color:$colorWhite;text-decoration: none;}
			li i{width:25px;}
			li i,span{display: inline-block;}
			li:hover{background: $colorWhite;}
			li:hover a{color:$colorRed;}
			li.active{background: $colorWhite;}
			li.active a{color: $colorRed;}
	}
}
.mainContainer{
	#main{padding:20px;display: grid;grid-template-columns: 1fr 1fr;grid-template-rows: 1fr;grid-gap: 10px;}
	#main .salesByMonthContainer{grid-column-start: 1;grid-column-end: 3;}
	#main .salesByMonthContainer .canvasContainer{max-width: 960px;margin:0 auto;width:100%;text-align: center;}
	#main .salesByMonthContainer canvas{}
}

@media only screen and (max-width:$sizeTablet) {
	.mainContainer{grid-template-columns:50px 85%;}
	.mainContainer #sidebar ul li span{display:none;}
}

@media only screen and(max-width:$sizeMobile){
	.mainContainer #main{grid-template-rows: 1fr 1fr;}	
}

footer{display: grid;background:#ccc;padding: 20px;align-items:baseline;grid-template-columns:33.3333% 33.3333% 33.3333%; }
footer div:first-child img{width:50px;}
footer div:nth-child(3){text-align:right;}

@media only screen and (max-width:$sizeMobile) {
	footer{grid-template-columns: 100%;grid-gap: 10px;justify-items: center;}
}