.mainContainer #main { padding: 20px;display: grid;grid-template-columns: 2fr 1fr;grid-template-rows: 80px auto;grid-gap: 10px;background: rgba(232, 232, 232, 0.5);}
.mainContainer #main .returnDiv{grid-column-start: 1;grid-column-end: 3;background: transparent;;border:0;}
.mainContainer #main .returnDiv a{color:#aaa;text-decoration: none;}
.mainContainer #main .returnDiv a:hover{color:#b7002a;}
.mainContainer #main .product_price{grid-column-start: 1;grid-column-end: 2;}
.mainContainer #main .product_inventory{grid-column-start: 1;grid-column-end: 2;}
@media all and (max-width : 765px) {
	.mainContainer #main .returnDiv{grid-column-end: 2;}
}

.mainContainer .discountContainer{grid-column-start:1;grid-column-end:3;display: grid;grid-gap:20px;grid-template-columns: 1fr 2fr;justify-content: start;align-items: start;}
.leftDiv,.rightDiv{margin:0 0 20px 0;background: #fff;border:1px solid #e3e3e3;padding: 0 20px 20px 20px;border-radius: 2px;}

.little{font-size: 12px;color:#888;}
.setDescuento{padding: 10px;text-align: center;}
.setDescuento input{width:50%;border-radius:0;border:0;border-bottom:1px solid #d6232e;margin:10px auto;padding:15px 0 15px 15px;outline:none;}
.setDescuento button{ width: 100%;
    max-width: 250px;
    height: 40px;
    background: #b7002a;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    transition: all 300ms ease-in;}
.setDescuento button:hover{background: #fff;color:#b7002a;border:1px solid #b7002a;}}


.dataTables_wrapper{background: #fff;}
.dataTables_wrapper .dataTables_filter{padding:20px;float:none;text-align: left;}
.dataTables_wrapper .dataTables_filter input{width: calc(100% - 75px);}
.dataTable{padding:20px;}
.dataTable th:nth-child(2),
.dataTable td:nth-child(2){display: none;}
.thumb{width:100px;margin: 0 auto;display: block;}
.price{text-align: center;}

